.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#characterImage img {
  max-width: 100%;
  height: auto;
}

#characterImage {
  position: relative; /* Umiestnenie obrázkov vzhľadom k ich rodičovskému prvku */
}

.hairImage {
  position: absolute; /* Absolútne umiestnenie obrázka vlasov */
  top: 0; /* Umiestnenie hore */
  left: 64px; /* Umiestnenie vľavo */
  display: none; /* Skrytie obrázka východzích vlasov */
}